## Data analysis for employment in non-profit organization

<h3> First portion of the code </h3>

Portion of the code involved, including,<br />
- Import entire dataset<br />
- Filtering some of Indicators<br />
- Importing it into Panda Profiling files. (Three of them)<br />

Import all requirement,

In [3]:
import pandas as pd
import numpy as np
import ydata_profiling as pp  
from ydata_profiling import ProfileReport 
import warnings
import os

warnings.filterwarnings('ignore')

In [4]:
import seaborn as sns
import matplotlib.pyplot as plt
from fitter import Fitter, get_common_distributions, get_distributions

from sklearn.linear_model import LinearRegression
from scipy.stats import chi2_contingency

import datetime as dt
# import theseus_growth as thg

Import unemployment dataset.

In [5]:
df = pd.read_csv('36100651.csv')

print(df.info())
print(df.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105840 entries, 0 to 105839
Data columns (total 17 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   REF_DATE         105840 non-null  int64
 1   GEO              105840 non-null  object
 2   DGUID            105840 non-null  object
 3   Sector           105840 non-null  object
 4   Characteristics  105840 non-null  object
 5   Indicators       105840 non-null  object
 6   UOM              105840 non-null  object
 7   UOM_ID           105840 non-null  int64
 8   SCALAR_FACTOR    105840 non-null  object
 9   SCALAR_ID        105840 non-null  int64
 10  VECTOR           105840 non-null  object
 11  COORDINATE       105840 non-null  object
 12  VALUE            102816 non-null  float64
 13  STATUS           3024 non-null    object
 14  SYMBOL           0 non-null       float64
 15  TERMINATED       0 non-null       float64
 16  DECIMALS         105840 non-null  int64
dtypes: float64(3), int64(4), object(10)
memory usage: 13.7+ MB
None
   REF_DATE     GEO           DGUID                         Sector  \
0      2010  Canada  2016A000011124  Total non-profit institutions
1      2010  Canada  2016A000011124  Total non-profit institutions
2      2010  Canada  2016A000011124  Total non-profit institutions
3      2010  Canada  2016A000011124  Total non-profit institutions
4      2010  Canada  2016A000011124  Total non-profit institutions
5      2010  Canada  2016A000011124  Total non-profit institutions
6      2010  Canada  2016A000011124  Total non-profit institutions
7      2010  Canada  2016A000011124  Total non-profit institutions
8      2010  Canada  2016A000011124  Total non-profit institutions
9      2010  Canada  2016A000011124  Total non-profit institutions

    Characteristics                         Indicators      UOM  UOM_ID  \
0    Male employees                     Number of jobs     Jobs     190
1    Male employees                       Hours worked    Hours     152
2    Male employees                 Wages and salaries  Dollars      81
3    Male employees        Average annual hours worked    Hours     152
4    Male employees        Average weekly hours worked    Hours     152
5    Male employees  Average annual wages and salaries  Dollars      81
6    Male employees                Average hourly wage  Dollars      81
7  Female employees                     Number of jobs     Jobs     190
8  Female employees                       Hours worked    Hours     152
9  Female employees                 Wages and salaries  Dollars      81

  SCALAR_FACTOR  SCALAR_ID       VECTOR COORDINATE       VALUE STATUS  SYMBOL  \
0         units          0  v1273033811    1.1.1.1   642584.00    NaN     NaN
1     thousands          3  v1273033812    1.1.1.2  1048516.00    NaN     NaN
2      millions          6  v1273033813    1.1.1.3    30805.00    NaN     NaN
3         units          0  v1273033814    1.1.1.4     1632.00    NaN     NaN
4         units          0  v1273033815    1.1.1.5       31.00    NaN     NaN
5         units          0  v1273033816    1.1.1.6    47940.00    NaN     NaN
6         units          0  v1273033817    1.1.1.7       29.38    NaN     NaN
7         units          0  v1273033909    1.1.2.1  1500394.00    NaN     NaN
8     thousands          3  v1273033910    1.1.2.2  2331018.00    NaN     NaN
9      millions          6  v1273033911    1.1.2.3    60943.00    NaN     NaN

   TERMINATED  DECIMALS
0         NaN         0
1         NaN         0
2         NaN         0
3         NaN         0
4         NaN         0
5         NaN         0
6         NaN         2
7         NaN         0
8         NaN         0
9         NaN         0

Filter only the essential columns of the original dataset.

In [6]:
print("Grab the only the essential part of database.")

# From the original, 
# UOM_ID, SCALAR_ID, VECTOR, COORDINATE, STATUS, SYMBOL, TERMINATED, and DECIMALS columns are removed.

df_sorted = df[['REF_DATE','DGUID','GEO','Sector','Characteristics','Indicators','UOM','SCALAR_FACTOR','VALUE']]

print(df_sorted.head(20))
print(df_sorted.info())

print("Sort by Characteristics")
grouped = df_sorted.groupby(['Characteristics'])
print(grouped['VALUE'].agg([np.size]))

print("Sort by Indicator")
grouped = df_sorted.groupby(['Indicators'])
print(grouped['VALUE'].agg([np.size]))

Grab the only the essential part of database.
    REF_DATE           DGUID     GEO                         Sector  \
0       2010  2016A000011124  Canada  Total non-profit institutions
1       2010  2016A000011124  Canada  Total non-profit institutions
2       2010  2016A000011124  Canada  Total non-profit institutions
3       2010  2016A000011124  Canada  Total non-profit institutions
4       2010  2016A000011124  Canada  Total non-profit institutions
5       2010  2016A000011124  Canada  Total non-profit institutions
6       2010  2016A000011124  Canada  Total non-profit institutions
7       2010  2016A000011124  Canada  Total non-profit institutions
8       2010  2016A000011124  Canada  Total non-profit institutions
9       2010  2016A000011124  Canada  Total non-profit institutions
10      2010  2016A000011124  Canada  Total non-profit institutions
11      2010  2016A000011124  Canada  Total non-profit institutions
12      2010  2016A000011124  Canada  Total non-profit institutions
13      2010  2016A000011124  Canada  Total non-profit institutions
14      2010  2016A000011124  Canada  Total non-profit institutions
15      2010  2016A000011124  Canada  Total non-profit institutions
16      2010  2016A000011124  Canada  Total non-profit institutions
17      2010  2016A000011124  Canada  Total non-profit institutions
18      2010  2016A000011124  Canada  Total non-profit institutions
19      2010  2016A000011124  Canada  Total non-profit institutions

        Characteristics                         Indicators      UOM  \
0        Male employees                     Number of jobs     Jobs
1        Male employees                       Hours worked    Hours
2        Male employees                 Wages and salaries  Dollars
3        Male employees        Average annual hours worked    Hours
4        Male employees        Average weekly hours worked    Hours
5        Male employees  Average annual wages and salaries  Dollars
6        Male employees                Average hourly wage  Dollars
7      Female employees                     Number of jobs     Jobs
8      Female employees                       Hours worked    Hours
9      Female employees                 Wages and salaries  Dollars
10     Female employees        Average annual hours worked    Hours
11     Female employees        Average weekly hours worked    Hours
12     Female employees  Average annual wages and salaries  Dollars
13     Female employees                Average hourly wage  Dollars
14  Immigrant employees                     Number of jobs     Jobs
15  Immigrant employees                       Hours worked    Hours
16  Immigrant employees                 Wages and salaries  Dollars
17  Immigrant employees        Average annual hours worked    Hours
18  Immigrant employees        Average weekly hours worked    Hours
19  Immigrant employees  Average annual wages and salaries  Dollars

   SCALAR_FACTOR       VALUE
0          units   642584.00
1      thousands  1048516.00
2       millions    30805.00
3          units     1632.00
4          units       31.00
5          units    47940.00
6          units       29.38
7          units  1500394.00
8      thousands  2331018.00
9       millions    60943.00
10         units     1554.00
11         units       30.00
12         units    40618.00
13         units       26.14
14         units   503236.00
15     thousands   802251.00
16      millions    22212.00
17         units     1594.00
18         units       31.00
19         units    44138.00
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105840 entries, 0 to 105839
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   REF_DATE         105840 non-null  int64
 1   DGUID            105840 non-null  object
 2   GEO              105840 non-null  object
 3   Sector           105840 non-null  object
 4   Characteristics  105840 non-null  object
 5   Indicators       105840 non-null  object
 6   UOM              105840 non-null  object
 7   SCALAR_FACTOR    105840 non-null  object
 8   VALUE            102816 non-null  float64
dtypes: float64(1), int64(1), object(7)
memory usage: 7.3+ MB
None
Sort by Characteristics
                                   size
Characteristics
15 to 24 years                     5880
25 to 34 years                     5880
35 to 44 years                     5880
45 to 54 years                     5880
55 to 64 years                     5880
65 years old and over              5880
College diploma                    5880
Female employees                   5880
High school diploma and less       5880
Immigrant employees                5880
Indigenous identity employees      5880
Male employees                     5880
Non-immigrant employees            5880
Non-indigenous identity employees  5880
Not a visible minority             5880
Trade certificate                  5880
University degree and higher       5880
Visible minority                   5880
Sort by Indicator
                                    size
Indicators
Average annual hours worked        15120
Average annual wages and salaries  15120
Average hourly wage                15120
Average weekly hours worked        15120
Hours worked                       15120
Number of jobs                     15120
Wages and salaries                 15120

Check for the missing value from the sorted dataset done above.
* Notice there is missing value in this dataset.
* Based on "VALUE" records, there's are 2.86% of the data are missing.

In [7]:
# Ratio instead of number out ob 
# https://stackoverflow.com/questions/51070985/find-out-the-percentage-of-missing-values-in-each-column-in-the-given-dataset

# Value for "STATUS", "SYMBOL", and "TERMINATED" will be removed after this analysis.
# They contains non-meanful data inside.

percent_missing_df = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'percent_in_na': percent_missing_df,
                                 'num_of_na': df.isnull().sum(),
                                 'total_sample': len(df)})
print("Original database null counter")
print(missing_value_df)

# Noticed that, there's 2.85% of the data (VALUE) is missing.
# To straight forward those missing data, I have decided to further removed some of the missing values.

percent_missing_df_sorted = df_sorted.isnull().sum() * 100 / len(df_sorted)
missing_value_df_sorted = pd.DataFrame({'percent_in_na': percent_missing_df_sorted,
                                 'num_of_na': df_sorted.isnull().sum(),
                                 'total_sample': len(df_sorted)})
print("\nModified dataset null counter.")
print(missing_value_df_sorted)

Original database null counter
                 percent_in_na  num_of_na  total_sample
REF_DATE              0.000000          0        105840
GEO                   0.000000          0        105840
DGUID                 0.000000          0        105840
Sector                0.000000          0        105840
Characteristics       0.000000          0        105840
Indicators            0.000000          0        105840
UOM                   0.000000          0        105840
UOM_ID                0.000000          0        105840
SCALAR_FACTOR         0.000000          0        105840
SCALAR_ID             0.000000          0        105840
VECTOR                0.000000          0        105840
COORDINATE            0.000000          0        105840
VALUE                 2.857143       3024        105840
STATUS               97.142857     102816        105840
SYMBOL              100.000000     105840        105840
TERMINATED          100.000000     105840        105840
DECIMALS              0.000000          0        105840

Modified dataset null counter.
                 percent_in_na  num_of_na  total_sample
REF_DATE              0.000000          0        105840
DGUID                 0.000000          0        105840
GEO                   0.000000          0        105840
Sector                0.000000          0        105840
Characteristics       0.000000          0        105840
Indicators            0.000000          0        105840
UOM                   0.000000          0        105840
SCALAR_FACTOR         0.000000          0        105840
VALUE                 2.857143       3024        105840

Dropping missing value from the sorted dataset.

In [8]:
df_sorted_na = df_sorted.dropna()

Check now if there's still a missing data inside modified sorted dataset done above.

In [9]:
print("Modified dataset modification after removing missing value and it's total counter")

percent_missing_df_sorted_na = df_sorted_na.isnull().sum() * 100 / len(df_sorted_na)
missing_value_df_sorted_na = pd.DataFrame({'percent_in_na': percent_missing_df_sorted_na})
print(missing_value_df_sorted_na)
# print(df_sorted_na.head(20))

print(df_sorted_na.info())
grouped = df_sorted_na.groupby(['Characteristics'])
print(grouped['VALUE'].agg([np.size]))

grouped = df_sorted_na.groupby(['Indicators'])
print(grouped['VALUE'].agg([np.size]))

Modified dataset modification after removing missing value and it's total counter
                 percent_in_na
REF_DATE                   0.0
DGUID                      0.0
GEO                        0.0
Sector                     0.0
Characteristics            0.0
Indicators                 0.0
UOM                        0.0
SCALAR_FACTOR              0.0
VALUE                      0.0
<class 'pandas.core.frame.DataFrame'>
Index: 102816 entries, 0 to 105839
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   REF_DATE         102816 non-null  int64
 1   DGUID            102816 non-null  object
 2   GEO              102816 non-null  object
 3   Sector           102816 non-null  object
 4   Characteristics  102816 non-null  object
 5   Indicators       102816 non-null  object
 6   UOM              102816 non-null  object
 7   SCALAR_FACTOR    102816 non-null  object
 8   VALUE            102816 non-null  float64
dtypes: float64(1), int64(1), object(7)
memory usage: 7.8+ MB
None
                                   size
Characteristics
15 to 24 years                     5376
25 to 34 years                     5880
35 to 44 years                     5880
45 to 54 years                     5880
55 to 64 years                     5880
65 years old and over              5376
College diploma                    5880
Female employees                   5880
High school diploma and less       5880
Immigrant employees                5544
Indigenous identity employees      5544
Male employees                     5880
Non-immigrant employees            5544
Non-indigenous identity employees  5544
Not a visible minority             5880
Trade certificate                  5544
University degree and higher       5544
Visible minority                   5880
                                    size
Indicators
Average annual hours worked        14688
Average annual wages and salaries  14688
Average hourly wage                14688
Average weekly hours worked        14688
Hours worked                       14688
Number of jobs                     14688
Wages and salaries                 14688

Panda Profiling for original dataset (CSV file),

In [10]:
# https://medium.com/analytics-vidhya/pandas-profiling-5ecd0b977ecd

pp = ProfileReport(df, title="Pandas Profiling Report")
pp_df = pp.to_html()

f = open("df_NoMod.html", "a")  # Expert into html file without modifying any columns in dataset.
f.write(pp_df)
f.close()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Summarize dataset: 100%|██████████| 31/31 [00:09<00:00,  3.36it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:08<00:00,  8.01s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.53s/it]

Panda Profiling for sorted dataset,

In [11]:
pp_sorted = ProfileReport(df_sorted, title="Pandas Profiling Report with Columns Sorted")
pp_df_sorted = pp_sorted.to_html()

f = open("df_Sorted.html", "a") # Expert modifying data into html file.
f.write(pp_df_sorted)
f.close()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Summarize dataset: 100%|██████████| 22/22 [00:05<00:00,  3.71it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:04<00:00,  4.27s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  1.41it/s]

Panda Profiling for modified sorted dataset (missing data removed),

In [12]:
pp = ProfileReport(df_sorted_na, title="Pandas Profiling Report with Columned Sorted and NA Removed")
pp_df_sorted = pp.to_html()

f = open("df_Sorted-no-na.html", "a") # Expert modifying data into html file.
f.write(pp_df_sorted)
f.close()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Summarize dataset: 100%|██████████| 22/22 [00:05<00:00,  4.15it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:03<00:00,  3.99s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  1.49it/s]

In [13]:
# Differences should be, there will be less data to work on.
# Particularly business non-profit organizations and community organizations haven't given more accurate data (more missing values).